<div class="container text-center">

  <%= render partial: 'child_card' %>

  <div>
    <div class="tabs-group">
      <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active"><i class="fas fa-file-invoice-dollar"></i>Transactions</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-clipboard-list"></i>Tasks</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-hand-holding-usd"></i>New transaction</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-thumbtack"></i>New task</a>
      </li>
    </ul>
    </div>

    <div class="content">
      <div id="transact" class="content-item fade show" data-info="Transactions">

          <%= render partial: 'transactions' %>

      </div>

      <div class="content-item fade" data-info="Tasks">
        <% @pendingTasks.each do |task| %>
            <div class="task-card parent <%= task.status %>">
              <div class="task-description">
                <%= task.title.capitalize %>
              </div>
              <div>
                <%= task.status.upcase %>
              </div>
            </div>
        <% end  %>
        <% if @pendingTasks.count == 0 %>
          <div class="task-card parent">
            <span>No pending tasks!</span>
          </div>
        <% end %>

      </div>

      <div class="content-item fade form" data-info="New transaction" id="transactionForm">
        <%= render 'shared/transaction_form', transaction: @transaction %>
      </div>

      <div class="content-item fade" data-info="New task">
        <%= render 'shared/task_form', task: @task %>
      </div>
    </div>
  </div>




</div>
