<div class="container text-center">

  <div class="balance-card">
    <div class="balance-info">
      <div>Balance</div><div><strong>£<% @child.account.each do |account| %>
      <%= account.balance %>
      <% end %></strong></div>
    </div>

    <div class="balance-info">
      <div>
        <p class="balance-name"><strong><%= @child.first_name.upcase %> <%= @child.last_name[0].upcase %>.</strong></p>
      </div>
      <div>
        <a href='' id='transactionLink' class="transactionButton">New transaction</a>
      </div>
    </div>
  </div>

  <div >
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active">Transactions</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Tasks</a>
      </li>
    </ul>

    <div class="content fade show" data-info="Transactions">
      <table id="transactions">
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Description</th>
          <th>Amount</th>
        </tr>

        <% @child.transactions.each  do |transaction| %>
          <tr class=<%=transaction.transaction_type%>>
            <td><%= Date.parse(transaction.created_at.to_formatted_s).strftime('%d %b %Y') %></td>
            <td><%= transaction.transaction_type %></td>
            <td><%= transaction.description %></td>
            <td>£<%= transaction.amount %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="content fade" data-info="Tasks">
      <p>You dont have any tasks yet</p>
    </div>
  </div>

  <div id="transactionForm">
    <%= render 'shared/transaction_form', transaction: @transaction %>
  </div>



</div>
