<h1>Welcome <%=@user.first_name%> <%=@user.last_name%> <%=@user.date_of_birth%></h1>
<% @user.children.each do |child| %>
<p><%= child.first_name %> <%= child.last_name %> <%= child.date_of_birth %> <%= child.email %></p>

<% end  %>
