<h1>Welcome <%=@user.first_name%> <%=@user.last_name%> <%=@user.date_of_birth%></h1>
<div class="family-cards">
  <% @user.children.each do |child| %>
    <%= link_to child_path(child.id) do %>
      <div class="card-trip">
        <h3><%= child.first_name %></h3>
      </div>
    <% end %>

  <% end  %>
  <%= link_to new_child_registration_url do %>
      <div class="card-trip">
        <h3>Add a child to your group</h3>
      </div>
    <% end %>
</div>
