<h1>Welcome <%=@user.first_name%> <%=@user.last_name%></h1>
<div class="family-cards">
  <% @user.children.each do |child| %>
    <div class="card-kids">
      <%= link_to child_path(child.id) do %>
        <h3><%= child.first_name %></h3>
      <% end %>
    </div>

  <% end  %>
    <div class="card-kids-new">
      <%= link_to new_child_registration_url do %>
        <h3></i>Add new child</h3>
      <% end %>
    </div>
</div>
