<h1>Create a new transaction</h1>

<%= simple_form_for @transaction do |f| %>
  <%= f.input :transaction_type, as: :radio_buttons, collection: ['deposit', 'withdraw'] %>
  <%= f.input :description, as: :text %>
  <%= f.association :child, label_method: :first_name, value_method: :id %>
  <%= f.input :amount %>
  <%= f.button :submit %>
<% end %>
