<div class='container form-box'>
  <h2 class="transactions-title">Create a new transaction</h2>

  <%= simple_form_for @transaction do |f| %>
    <%= f.input :transaction_type, as: :radio_buttons, collection: ['Deposit', 'Withdraw'], label: 'Transaction Type' %>
    <%= f.input :description, as: :text %>
    <%= f.input :account_id, :as => :hidden, :input_html => { :value => @child.id } %>
    <%= f.input :amount %>
    <%= f.button :submit, class: 'btn-transaction' %>
  <% end %>
</div>
